button {
    background-color: #3B3B3B;
    flex-basis: calc((100%/5) - 1px);
    border-radius: 5px;
    border-style: none;
    margin-bottom: 1px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DFDFDF;
    font-size: 20px;
    transition: 1s, flex-basis 0.1s;
}

button:hover {
    background-color: #323232;
    transition: 0s;
}

button:active {
    background-color: #282828;
}

.equals {
    flex-basis: calc((100%/2.5) - 1px);
}